@use "_variables" as *;
@use "_mixins";

.example {
    font-family: $headingFont;
    font-weight: $headingFontWeight;
    font-style:  $headingFontStyle;
}

.example2 {
    font-family: $navFont;
    font-weight: $navFontWeight;
    font-style: $navFontStyle;
}

.dd-p {
    font-family: $paragraphFont;
    font-weight: $paragraphFontWeight;
    font-style:  $paragraphFontStyle;
}


