@use "_mixins";

// Font For Headings & Footer
$headingFont: "pragmatica-extended", sans-serif;
$headingFontWeight: 700;
$headingFontStyle: normal;

// Font For Paragraphs
$paragraphFont: "courier-std", monospace;
$paragraphFontWeight: 400;
$paragraphFontStyle: normal;

// Font For Navbar
$navFont: "aktiv-grotesk", sans-serif;
$navFontWeight: 400;
$navFontStyle: normal;

// Colors
$backgroundColor: #f5f5f3; // Background Color
$fontColor: #333333; //General Font Color
$footerColor: #1c1c1c; //Footer Background Color
$footerFontColor: #f5f5f3//Footer Color


